doctype 5
html
  head
  body
    h1 Sup!
    p
      | \u00f6 = ö
      br
      | \u00e4 = ä
    form(action='', method='post')
      textarea(name='tissit', cols='100', rows='25')
        | #{jsoncontents}

      br

      input(type='submit', value='Lähetä')