doctype 5
html
  head
  body
    h1 Sup!
    form(action='', method='post')
      textarea(name='json', cols='100', rows='25')
        | #{jsoncontents}

      br

      input(type='submit', value='Lähetä')

    hr

    p
      b Backup-tiedostot:
      br
      each x in backups
        a(href='/hallitse/#{x}') #{x}
        br