doctype 5
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', type='text/css', href='/css/places.css')

    script(type='text/javascript', src='/js/vendor/require.js')
    script(type='text/javascript')
      require.config({
        baseUrl: '/js/modules',
        paths: {
          'jquery': 'http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min',
          'jqueryUI': 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min'
        },
        shim: {
          'jqueryUI': ['jquery']
        }
      });

    script(type='text/javascript')

    title Summer Assembly 2013 ryhmätilaus!
  body
    div(style='width: 1260px;margin-left:103px;')
      div.asmjoulu.jonne Lauritus
      div.asmjoulu.jonne naf
      div.asmjoulu.jonne Ville-
      div.asmjoulu.jonne deffener
      div.asmjoulu.jonne CoOoD3R
      div.asmjoulu.jonne zetori
      div.asmjoulu Jukez
      div.asmjoulu Jamambo
      div.asmjoulu R0ME
      div.asmjoulu Falcian
      div.asmjoulu Jiikax
      div.asmjoulu Jani-

    div(style='clear:both')

    div(style='width: 1260px;margin-left:103px;')
      div.asmjoulu Pirula
      div.asmjoulu Cage|
      div.asmjoulu KalleE
      div.asmjoulu Pouseri
      div.asmjoulu leka
      div.asmjoulu acri
      div.asmjoulu fimboss
      div.asmjoulu WareZZboy
      div.asmjoulu Slogani
      div.asmjoulu Atte
      div.asmjoulu Veetiify
      div.asmjoulu Bonatsee

    div(style='clear:both')

    div(style='width: 1260px;margin-left:103px;')
      div.asmjoulu Jerstu
      div.luilu Goruka
      div.luilu kisuli
      div.luilu Wite
      div.luilu ShadowBerry
      div.luilu TreeOfLife
      div.luilu Luilu
      div.awi Aniva
      div.awi Anahonda
      div.awi Jaska
      div.awi JJ
      div.awi AwiPoika

    div(style='clear:both')

    div(style='width: 1575px')
      div.keksipaketti Allu
      div.keksipaketti Taikapossu
      div.keksipaketti Tiix
      div.keksipaketti Garnesh
      div.keksipaketti Henxuli
      div.keksipaketti Diviny
      div.keksipaketti Summeri
      div.keksipaketti Huutso
      div.keksipaketti Leetskillhunter
      div.keksipaketti Neliö
      div.keksipaketti Hulavanne
      div.keksipaketti Ves4
      div.keksipaketti TCpWn
      div
      div

    div(style='clear:both')

    img(src='http://deffener.kapsi.fi/keksiasm13s/paikat.png', alt='')
    br


    ul
      li 
        b PurPur :3 
        | katsomoon, samalle puolelle kuin Atte

      li
        b #asmjoulu 
        | C18-19

        ul
          li
            b es 
            | vierekkäin
            | C18 vasemmalle

          li
            b -1 
            | vierekkäin
          li
            b -2 
            | veetiifyyn ja sloganin lähelle, vierekkäin

          li
            b -3 
            | jiikaxin taakse/eteen mieluiten, vierekkäin

      li
        b keksipaketti 
        | C21

      li
        b Kriminaalit 
        | katsomoon.. (täydennystä?)

      li
        b Luiluttimet 
        | C20

      li
        b Rery & Co. 
        | F4/6/8

      li
        b Vorsalaiset 
        | F7/9

      li
        b Oolulaaset 
        | 4 vierekkäistä katsomopaikkaa F1,2,4,6,7,8 tai 9-katsomoista, muutoin C-katsomo (mielellään C1 pääty tai mikä tahansa muu pääty) käy. Jos C-rivien päädyt on täynnä niin sitten D:lle, aloittaen 1 jne :)

      li
        b Awi & Kaverit 
        | C20





  script(type='text/javascript')
      require(['places'], function(places){ places.main() })